<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReLiveIt</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <style>
        body{
            background-color:#e5f5e0;
            padding-top:20px;
        }
        .list_items{
            height:120px ;
            background-color: #e5f5e0;
            color: black ;
            padding:2px 4px ;
            text-align: center;
            align-items: center;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
     </style>
</head>
<body>
    <div class="flex flex-col gap-4 ">
    <div class="heade-seaction flex items-center border-bottom pl-[20px] pr-[20px]">
        <div class="logo flex-1"><h1 class="text-extrabold text-3xl text-[#006d2c]">ReliveIt</h1></div>
        <div class="flex-1">
        <ul class="flex place-self-center items-center gap-[50px]">
        <li >About Us</li>
        <li class="bg-[#238b45] text-white px-8 py-2 rounded-xl hover:bg-[#006d2c] hover:outline-2 hover:outline-offset-2 hover:outline-[#006d2c]">Login</li>
        <li>Sign-up</li>
    </ul>
    </div>
</div>
<!-- home-section -->
    <div class="home_section h-[750px] flex justify-around items-center">
        <div class="left-section w-[600px]">
            <h1 class="text-3xl text-bold text-[#006d2c] mb-[20px]">ReLiveIt</h1>
            <h1 class="text-xl bold text-justify">Give What You Do not Need. Help Someone Reuse What They Do.</h1>
            <p class="text-justify">A community-driven platform where you can give away usable items you no longer need — and let others turn them into something meaningful. Reduce waste, support reuse, and make a positive impact effortlessly.</p>
            <button class="text-xl text-[#006d2c] px-4 py-2 bg-white rounded-xl hover:bg-[#006d2c] hover:text-white">Join Us Now -></button>
        </div>
        <div class="right-section w-[700px]">
            <img src="/website/src/images/img_2.png" class="h-[620px] w-[680px]" alt="img-1">
        </div>
    </div>
    <!-- home section end -->

<!-- about us section start -->
 <div class="about_us_section items-center bg-[#238b45] p-[20px]">
    <h1 class="text-4xl text-extrabold text-center">About Us</h1>
    <div class="flex gap-4 items-center">
        <img src="/website/src/images/image-1.png" alt="">
        <p class="text-justify px-9 py-2 bg-[#238b45] text-[#e5f5e0]">We created this platform with one simple belief:
        <span class="text-xl text-bold"></span>Nothing that can still be useful should ever be thrown away.
        Every home has items that are no longer needed — clothes we do not wear, books we have already read, gadgets we don't use, or household items lying untouched. Instead of ending up in the trash, these items can gain a second life in someone else's hands.
        Our platform connects people who want to give away usable items with those who can reuse them.
        It is more than a donation system — it is a movement towards mindful living, sustainability, and community care.</p>
    </div>
    <div class="text-white p-[20px]">
        <h1 class="text-xl text-bold text-black">Here you can: </h1>
        <ul class="flex gap-4">
            <li class="list_items">Give away items you don't need.</li>
            <li class="list_items">Discover free items from others.</li>
            <li class="list_items">Spread awareness about reducing waste.</li>
            <li class="list_items">Share photos and stories that inspire reuse.</li>
            <li class="list_items">Learn creative ways to repropose everyday objects.</li>
        </ul>
    </div>
</div>
 <!-- about us section end -->
    </div>
</body>
</html>